## Maven ###
pom.xml           text eol=lf encoding=utf-8

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties text eol=lf encoding=utf-8
mvnw                          text eol=lf encoding=utf-8
mvnw.cmd                      text eol=crlf

### Git ###
.gitignore        eol=lf encoding=utf-8
.gitattributes    eol=lf encoding=utf-8
.gitkeep          eol=lf encoding=utf-8
.gitmodules       eol=lf

# Markdown
*.md text eol=lf encoding=utf-8

### Backend ###

## Java ##
*.java       text eol=lf encoding=utf-8
*.properties text eol=lf encoding=utf-8
logback*.xml text eol=lf encoding=utf-8